.side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $white;
    margin: 5px;
    padding: 2px;
    border: $black 1px solid;
    .centrado {
        position: relative;
        height: 100px;
    }
    .encabezado__side {
        text-transform: uppercase;
        font-size: $medium;
        text-align: center;
        font-family: $primary-font-bold;
        margin: 0;
        top: 1px;
    }
    p { 
        position: relative;
        font-size: $x-small;
        top: -3px;
        text-align: center;
        font-family: $primary-font-regular;
    }
}
@media all and (max-width: 450px) {
    .side {
        position: relative;
        height: 680px;
        top: -305px;
    }
}
.centrado .desarrollador {
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    width: 100px;
    height: 120px;
    border-radius:10rem;
    border:0.0625rem solid gray;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
}
.rrss {
    text-align: center;
    font-size: $medium;
}
.mas__cursos {
    text-align: center;
    background: gray;
    color: $white;
    margin: 5px 15px;
    font-size: $medium;
    font-family: $secondary-font-bold;
}
.cursos {
    position: relative;
    left: 20px;
    height: 150px;
    li a {
        text-decoration: none;
        font-size: $small;
        font-family: $secondary-font-regular;
    }
}
.svg {
    position: relative;
    float: right;
    margin-right: 100px;
    height: 280px;
    width: 230px;
    bottom: -20px;
        /*@-webkit-keyframes move {
            0% {
                left: 0;
            }
            50% {
                left: 25px;
            }
            100% {
                left: 50px;
            }
        }
        .cajita, .cajita2 {
            position: relative;
            -webkit-animation: move 3s ease-in-out;
            animation: move 3s ease-in-out;
        }*/
        @-webkit-keyframes spin {
            0% {
                transform: rotate(0deg);
                transform-origin: center;
                transform-box: fill-box;
            }
            100% {
                transform: rotate(360deg);
                transform-origin: center;
                transform-box: fill-box;
            }
        }  
        .rodamiento {
            -webkit-animation: spin 2.5s infinite;
            transform-origin: bottom center;
            animation: spin 2s infinite;
            -webkit-animation-timing-function: linear;
        }
}
