/*img {
    max-width: 100%;
}*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #E6E7E7;
}
a:active {
  color: #6C6E70;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: #FFFFFF;
  float: left;
}

a, p {
  font-family: italic;
  font-size: 16px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.small_button {
  color: #FFFFFF;
  width: 6.5625rem;
  height: 2.5625rem;
  margin-left: 4.375rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: middle;
  background-color: #6C6E70;
  border-radius: 3.125rem;
}

.small_button:hover {
  background-color: #D1D1D1;
  color: #121619;
  transition: 0.3s;
}

.medium_button {
  color: #FFFFFF;
  width: 10.625rem;
  height: 2.5625rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: middle;
  background-color: #6C6E70;
  border-radius: 3.125rem;
}

.medium_button:hover {
  background-color: #D1D1D1;
  transition: 0.3s;
  color: #121619;
}

.author_container {
  height: 20.625rem;
  width: 90%;
  margin-left: 3.75rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.author_container-info {
  position: relative;
  margin-left: 1.875rem;
}

.author_name {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.author_rrss, .author_web {
  color: #ECBCBA;
}
.author_rrss:hover, .author_web:hover {
  color: #E6E7E7;
}

.author_picture {
  width: 11.875rem;
  height: 11.875rem;
  border-radius: 10rem;
  border: 0.0625rem solid #666;
}

.author_description {
  margin: auto;
  position: relative;
  width: 37.5rem;
  height: 6.5rem;
}

.author_text {
  position: relative;
  top: 1.25rem;
  left: 0;
  text-align: center center;
  font-size: 12px;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.container {
  box-sizing: border-box;
  width: max-content;
  margin: 10px auto;
}

.centrado {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  font-size: 70px;
  font-style: italic;
}

.fas {
  position: relative;
  color: #FFFFFF;
  bottom: 4.375rem;
  right: 30rem;
  z-index: -2;
}

.container_image {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: -3;
  justify-content: center;
  top: 10%;
  left: 3%;
  max-width: 100%;
}

footer {
  background-color: #121619;
  height: 6.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_logo {
  display: block;
  margin: 0 auto;
  max-width: 7.625rem;
}

.header {
  background-color: #121619;
  display: inline-block;
  position: absolute;
  height: 5.9375rem;
  width: 100%;
  top: 0;
  left: 0;
}

.bigote {
  position: relative;
  height: 1.875rem;
  width: 3.75rem;
  left: 12.5rem;
  top: 1.875rem;
}

.navbar_nav {
  display: flex;
  max-width: 62rem;
  margin: 0 auto;
}

/*.navbar_toggler_icon {
    color: $white;
    max-width: 78px;
}*/
.nav_link {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  text-decoration: none;
}

.nav_link {
  color: #FFFFFF;
}
.nav_link:hover {
  color: #ECBCBA;
  transition: 0.3s;
}

.nav_item {
  position: relative;
  font-size: 16px;
  margin: 0 0.625rem;
  left: 37.5rem;
}

#navbarNav {
  position: unset;
  color: #121619;
}

.main_container {
  width: 90%;
  margin-left: 4.375rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.main_text {
  font-family: "Roboto", sans-serif;
  color: #222323;
}

.main_date {
  font-family: "Playfair Display", serif;
  color: #6C6E70;
}

.pagination_container {
  background-color: #E6E7E7;
  height: 6.25rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
