.main_container {
    width: 90%;
    margin-left: 4.375rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}
.main_text {
    font-family: $sans-serif;
    color: $raisin-black;
}
.main_date {
    font-family: $display;
    color: $dark-gray;
}
