.hero .imagen {
    position: relative;
    float: right;
    height: 1200px;
    width: 600px;
    top: 90px;
}  

div.hero {
    position: relative;
    float: right;
    right: 140px;
    height: 835px;
    width: 600px;
}
