h1 {
    font-family: $display;
    font-size: $xx-large;
    color: $white;
    float: left;
}
a, p {
    font-family: $font-italic;
    font-size: $medium;
}
h3 {
    font-family: $display;
    font-size: $x-large;
}
