* {
    margin: 0%;
    padding: 0%;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: $only-font-bold;
}
.contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 500px 400px;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "section section section section"
}
.contenedor .nav {
    grid-area: nav;
    display: flex;
    top: 0;
    width: 100%;
}
.contenedor nav .menu {
    margin-left: 1100px;
}
.contenedor nav .logo {
    position: relative;
    top: 15px;
    left: 115px;
    font-size: $large;
}
.contenedor nav .app {
    position: relative;
    top: 10px;
    left: 115px;
}
#lista li {
    display: inline;
    position: relative;
    top: 20px;
    right: 110px;
    margin: 1px;
}
.contenedor .header {
    display: grid;
    max-height: 400px;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 300px 60px;
    grid-template-areas: 
        "contenido contenido contenido"
        "author__image . botones";
}
.contenedor header .contenido {
    grid-area: contenido;
    position: relative;
    max-width: 100%;
    .banner {
        position: relative;
        width: 1360px;
        height: 100%;
    }
}
@media all and (max-width: 400px) {
    .contenedor header .contenido {
        grid-area: contenido;
        position: relative;
        max-width: 100%;
        .banner {
            position: relative;
            width: 1100px;
            height: 100%;
        }
    }
}
.contenedor header .author__image {
    grid-area: author__image;
    position: relative;
    max-width: 34%;
    .author__picture {
        position: relative;
        width: 50%;
        height: 120%;
        left: 110px;
        top: 10px;
        border-radius:10rem;
        border:0.0625rem solid $granite-gray;
    }
    h4 {
        position: relative;
        left: 200px;
        bottom: 45px;
    }
    p {
        position: relative;
        left: 201px;
        bottom: 40px; 
        font-size: $x-small;
        color: $granite-gray;
    }
}
@media all and (max-width: 800px) {
    .contenedor header .author__image {
        grid-area: author__image;
        position: relative;
        max-width: 80%;
        .author__picture {
            position: relative;
            width: 50%;
            height: 150%;
            left: 110px;
            top: 10px;
            border-radius:10rem;
            border:0.0625rem solid $granite-gray;
        }
        h4 {
            position: relative;
            left: 220px;
            bottom: 45px;
        }
        p {
            position: relative;
            left: 221px;
            bottom: 40px; 
            font-size: $x-small;
            color: $granite-gray;
        }
    }
} 
@media all and (max-width: 400px) {
    .contenedor header .author__image {
        grid-area: author__image;
        position: relative;
        max-width: 80%;
        .author__picture {
            position: relative;
            width: 100%;
            height: 170%;
            left: 430px;
            top: 10px;
            border-radius:10rem;
            border:0.0625rem solid $granite-gray;
        }
        h4 {
            position: relative;
            left: 540px;
            bottom: 90px;
            font-size: $xs-large;
        }
        p {
            position: relative;
            left: 540px;
            bottom: 85px; 
            font-size: $medium;
            color: $granite-gray;
        }
    }
} 
.contenedor header .botones {
    grid-area: botones;
    position: relative;
    left: 195px;
    top: 30px;
    .boton__mensaje {
        border: 1px;
        background-color: $verdeazulado;
        color: $white;
        width: 70px;
        height: 25px;
    }
    .boton__seguir {
        border: 1px;
        background-color: $carmesi;
        color: $white;
        width: 70px;
        height: 25px;
    }
}
@media all and (max-width: 400px) {
    .contenedor header .botones {
        display: none;
    }
}
/*.contenedor .principal section .linea {
        border-top: 1px solid black;
        height: 2px;
        padding: 0;
        margin: 20px auto 0 auto;
  }*/
.contenedor .principal {
    grid-area: section;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: 
        "populares . . ."
        "noticia1 noticia2 noticia3 noticia4"
        "noticia5 noticia6 noticia7 noticia8";
}
@media all and (max-width: 800px) {
    .contenedor .principal {
        grid-area: section;
        display: grid;
        grid-template-columns: 34% 33% 33%;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas: 
            "populares . . "
            "noticia1 noticia2 noticia3" 
            "noticia4 noticia5 noticia6" 
            "noticia7 noticia8";
    }
}
@media all and (max-width: 400px) {
    .contenedor .principal {
        grid-area: section;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
        grid-template-areas: 
            "populares  "
            "noticia1"
            "noticia2" 
            "noticia3" 
            "noticia4" 
            "noticia5" 
            "noticia6" 
            "noticia7" 
            "noticia8";
    }
}
.contenedor .principal .populares {
    grid-area: populares;
    position: relative;
    max-width: 100%;
    left: 110px;
    top: -80px;
}    
.contenedor .principal .listad__noticias .noticia1 {
    grid-area: noticia1;
    position: relative;
    left: -230px;
    top: -40px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia1 {
        grid-area: noticia1;
        position: relative;
        left: -300px;
        top: -40px;
    }       
}
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia1 {
        grid-area: noticia1;
        position: relative;
        left: 100px;
        top: -250px;
    }       
}
.contenedor .principal .listad__noticias .noticia2 {
    grid-area: noticia2;
    position: relative;
    left: 57px;
    top: -258px;
}
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia2 {
        grid-area: noticia2;
        position: relative;
        left: 100px;
        top: -358px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia2 {
        grid-area: noticia2;
        position: relative;
        left: 100px;
        top: -240px;
    }       
}
.contenedor .principal .listad__noticias .noticia3 {
    grid-area: noticia3;
    position: relative;
    left: 343px;
    top: -476px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia3 {
        grid-area: noticia3;
        position: relative;
        left: -300px;
        top: -345px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia3 {
        grid-area: noticia3;
        position: relative;
        left: 100px;
        top: -230px;
    }       
}
.contenedor .principal .listad__noticias .noticia4 {
    grid-area: noticia4;
    position: relative;
    left: 630px;
    top: -694px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia4 {
        grid-area: noticia4;
        position: relative;
        left: 100px;
        top: -663px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia4 {
        grid-area: noticia4;
        position: relative;
        left: 100px;
        top: -220px;
    }       
} 
.contenedor .principal .listad__noticias .noticia5 {
    grid-area: noticia5;
    position: relative;
    left: -232px;
    top: -670px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia5 {
        grid-area: noticia5;
        position: relative;
        left: -300px;
        top: -655px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia5 {
        grid-area: noticia5;
        position: relative;
        left: 100px;
        top: -200px;
    }       
} 
.contenedor .principal .listad__noticias .noticia6 {
    grid-area: noticia6;
    position: relative;
    left: 55px;
    top: -887px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia6 {
    grid-area: noticia6;
    position: relative;
    left: 100px;
    top: -973px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia6 {
    grid-area: noticia6;
    position: relative;
    left: 100px;
    top: -170px;
    }       
} 
.contenedor .principal .listad__noticias .noticia7 {
    grid-area: noticia7;
    position: relative;
    left: 342px;
    top: -1104px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia7 {
    grid-area: noticia7;
    position: relative;
    left: -300px;
    top: -958px;
    }       
} 
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia7 {
    grid-area: noticia7;
    position: relative;
    left: 100px;
    top: -140px;
    }       
}
.contenedor .principal .listad__noticias .noticia8 {
    grid-area: noticia8;
    position: relative;
    left: 630px;
    top: -1321px;
} 
@media all and (max-width: 800px) {
    .contenedor .principal .listad__noticias .noticia8 {
    grid-area: noticia8;
    position: relative;
    left: 100px;
    top: -1276px;
    }       
}
@media all and (max-width: 400px) {
    .contenedor .principal .listad__noticias .noticia8 {
    grid-area: noticia8;
    position: relative;
    left: 100px;
    top: -110px;
    }       
}
img {
    height: 180px;
    width: 275px;
}
.contenedor h4 {
    font-size: $medium;
}
.contenedor p {
    font-size: $small;
    color: $granite-gray;
}
@media all and (max-width: 800px) {
    img {
        height: 280px;
        width: 375px;
    }
    .contenedor h4 {
        font-size: $medium;
    }
    .contenedor p {
        font-size: $small;
        color: $granite-gray;
    }
}
@media all and (max-width: 400px) {
    img {
        height: 450px;
        width: 900px;
    }
    .contenedor h4 {
        font-size: $xx-large;
    }
    .contenedor p {
        font-size: $x-large;
        color: $granite-gray;
    }
}