/*@-webkit-keyframes move {
            0% {
                left: 0;
            }
            50% {
                left: 25px;
            }
            100% {
                left: 50px;
            }
        }
        .cajita, .cajita2 {
            position: relative;
            -webkit-animation: move 3s ease-in-out;
            animation: move 3s ease-in-out;
        }*/
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.rodamiento {
  -webkit-animation: spin 2.5s infinite;
  transform-origin: bottom center;
  animation: spin 2s infinite;
  -webkit-animation-timing-function: linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 98vw;
  height: 1150px;
  display: grid;
  grid: 7% 20% 64% 10%/repeat(2, 1fr);
  grid-template-areas: "nav nav" "header header" "hero side" "footer footer";
}

@media all and (max-width: 450px) {
  body {
    width: 98vw;
    height: 1600px;
    display: grid;
    grid: 5% 5% 35% 45% 10%/repeat 1, 12fr;
    grid-template-areas: "nav" "header" "hero" "side" "footer";
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caja__contenedor-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-arriba p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-arriba h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.caja__contenedor-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-abajo p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-abajo h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  margin: 5px;
  padding: 2px;
  border: #000000 1px solid;
}
.side .centrado {
  position: relative;
  height: 100px;
}
.side .encabezado__side {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-family: "Ubuntu Bold", sans-serif;
  margin: 0;
  top: 1px;
}
.side p {
  position: relative;
  font-size: 12px;
  top: -3px;
  text-align: center;
  font-family: "Ubuntu Regular", sans-serif;
}

.input .button {
  position: relative;
  width: 45px;
  border: 1px solid;
  border-color: #2E1503;
  background: #FFAF6D;
  color: #FFFFFF;
}
.input .button :hover {
  background: #FFFFFF;
  color: #FFA500;
}

.input .entrada {
  background: #FFFFFF;
  color: gray;
}
.input .entrada :focus {
  background: #FFAF6D;
  color: gray;
}

body {
  width: 98vw;
  height: 1150px;
  display: grid;
  grid: 7% 20% 64% 10%/repeat(2, 1fr);
  grid-template-areas: "nav nav" "header header" "hero side" "footer footer";
}

@media all and (max-width: 450px) {
  body {
    width: 98vw;
    height: 1600px;
    display: grid;
    grid: 5% 5% 35% 45% 10%/repeat 1, 12fr;
    grid-template-areas: "nav" "header" "hero" "side" "footer";
  }
}
.nav {
  grid-area: nav;
  background: #000000;
  color: #FFFFFF;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
.nav .left {
  position: relative;
  max-width: 20%;
}
.nav .left .logo {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 76px;
}
@media all and (max-width: 450px) {
  .nav .left .logo {
    width: 30px;
    height: 30px;
  }
}
.nav .nav__toggle {
  background: none;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 60px;
  display: none;
}
@media all and (max-width: 450px) {
  .nav .nav__toggle {
    display: block;
  }
  .nav :hover {
    color: #FFA500;
  }
}
.nav .menu {
  display: flex;
  margin-right: 30px;
  list-style: none;
  font-size: 16px;
  font-family: "Ubuntu Bold", sans-serif;
}
.nav .menu a {
  text-decoration: none;
  margin: 0 5px;
  color: #FFFFFF;
  line-height: 76px;
}
@media all and (max-width: 450px) {
  .nav .menu {
    display: none;
  }
}

.header {
  grid-area: header;
  background: #FFFFFF;
  text-align: center;
}
.header .flujo {
  height: 240px;
}

@media all and (max-width: 450px) {
  .header .flujo {
    height: 300px;
  }
}
.hero {
  grid-area: hero;
  background: #FFFFFF;
  margin: 5px;
  border: #2E1503 1px solid;
}

@media all and (max-width: 450px) {
  .hero {
    position: relative;
    top: -25px;
    height: 730px;
  }
}
.caja__contenedor-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-arriba p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-arriba h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.image1 {
  position: relative;
  max-width: 490px;
  min-height: auto;
  max-height: 200px;
  top: -10px;
  margin: auto auto;
}

.texto1 {
  position: relative;
  text-align: center;
  left: 2px;
  top: -20px;
}

.favicons {
  position: relative;
  top: 10px;
  left: 10px;
}

.caja__contenedor-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-abajo p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-abajo h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.image2 {
  position: relative;
  max-width: 490px;
  min-height: auto;
  max-height: 210px;
  top: -5px;
  margin: auto auto;
}

.texto2 {
  position: relative;
  text-align: center;
  left: 2px;
  top: -15px;
}

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  margin: 5px;
  padding: 2px;
  border: #000000 1px solid;
}
.side .centrado {
  position: relative;
  height: 100px;
}
.side .encabezado__side {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-family: "Ubuntu Bold", sans-serif;
  margin: 0;
  top: 1px;
}
.side p {
  position: relative;
  font-size: 12px;
  top: -3px;
  text-align: center;
  font-family: "Ubuntu Regular", sans-serif;
}

@media all and (max-width: 450px) {
  .side {
    position: relative;
    height: 680px;
    top: -305px;
  }
}
.centrado .desarrollador {
  position: absolute;
  max-width: 50%;
  max-height: 100%;
  width: 100px;
  height: 120px;
  border-radius: 10rem;
  border: 0.0625rem solid gray;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.rrss {
  text-align: center;
  font-size: 16px;
}

.mas__cursos {
  text-align: center;
  background: gray;
  color: #FFFFFF;
  margin: 5px 15px;
  font-size: 16px;
  font-family: "Poppins Bold", sans-serif;
}

.cursos {
  position: relative;
  left: 20px;
  height: 150px;
}
.cursos li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins Regular", sans-serif;
}

.svg {
  position: relative;
  float: right;
  margin-right: 100px;
  height: 280px;
  width: 230px;
  bottom: -20px;
  /*@-webkit-keyframes move {
      0% {
          left: 0;
      }
      50% {
          left: 25px;
      }
      100% {
          left: 50px;
      }
  }
  .cajita, .cajita2 {
      position: relative;
      -webkit-animation: move 3s ease-in-out;
      animation: move 3s ease-in-out;
  }*/
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.svg .rodamiento {
  -webkit-animation: spin 2.5s infinite;
  transform-origin: bottom center;
  animation: spin 2s infinite;
  -webkit-animation-timing-function: linear;
}

.footer {
  grid-area: footer;
  background: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 45px;
}
.footer .importante {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
.footer .importante p {
  font-family: "Poppins Regular", sans-serif;
  font-size: 14px;
}
.footer .derechos {
  font-size: 16px;
  font-family: "Ubuntu Bold", sans-serif;
}
.footer .input .entrada {
  background: #FFFFFF;
  color: gray;
}
.footer .input .entrada :focus {
  background: #FFAF6D;
  color: gray;
}
.footer .input .button {
  position: relative;
  width: 45px;
  border: 1px solid;
  border-color: #2E1503;
  background: #FFAF6D;
  color: #FFFFFF;
}
.footer .input .button :hover {
  background: #FFFFFF;
  color: #FFA500;
}

@media all and (max-width: 450px) {
  .footer {
    position: relative;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer {
  grid-area: footer;
  background: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 45px;
}
.footer .importante {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
.footer .importante p {
  font-family: "Poppins Regular", sans-serif;
  font-size: 14px;
}
.footer .derechos {
  font-size: 16px;
  font-family: "Ubuntu Bold", sans-serif;
}
.footer .input .entrada {
  background: #FFFFFF;
  color: gray;
}
.footer .input .entrada :focus {
  background: #FFAF6D;
  color: gray;
}
.footer .input .button {
  position: relative;
  width: 45px;
  border: 1px solid;
  border-color: #2E1503;
  background: #FFAF6D;
  color: #FFFFFF;
}
.footer .input .button :hover {
  background: #FFFFFF;
  color: #FFA500;
}

@media all and (max-width: 450px) {
  .footer {
    position: relative;
    bottom: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header {
  grid-area: header;
  background: #FFFFFF;
  text-align: center;
}
.header .flujo {
  height: 240px;
}

@media all and (max-width: 450px) {
  .header .flujo {
    height: 300px;
  }
}
.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  margin: 5px;
  padding: 2px;
  border: #000000 1px solid;
}
.side .centrado {
  position: relative;
  height: 100px;
}
.side .encabezado__side {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-family: "Ubuntu Bold", sans-serif;
  margin: 0;
  top: 1px;
}
.side p {
  position: relative;
  font-size: 12px;
  top: -3px;
  text-align: center;
  font-family: "Ubuntu Regular", sans-serif;
}

@media all and (max-width: 450px) {
  .side {
    position: relative;
    height: 680px;
    top: -305px;
  }
}
.centrado .desarrollador {
  position: absolute;
  max-width: 50%;
  max-height: 100%;
  width: 100px;
  height: 120px;
  border-radius: 10rem;
  border: 0.0625rem solid gray;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.rrss {
  text-align: center;
  font-size: 16px;
}

.mas__cursos {
  text-align: center;
  background: gray;
  color: #FFFFFF;
  margin: 5px 15px;
  font-size: 16px;
  font-family: "Poppins Bold", sans-serif;
}

.cursos {
  position: relative;
  left: 20px;
  height: 150px;
}
.cursos li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins Regular", sans-serif;
}

.svg {
  position: relative;
  float: right;
  margin-right: 100px;
  height: 280px;
  width: 230px;
  bottom: -20px;
  /*@-webkit-keyframes move {
      0% {
          left: 0;
      }
      50% {
          left: 25px;
      }
      100% {
          left: 50px;
      }
  }
  .cajita, .cajita2 {
      position: relative;
      -webkit-animation: move 3s ease-in-out;
      animation: move 3s ease-in-out;
  }*/
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.svg .rodamiento {
  -webkit-animation: spin 2.5s infinite;
  transform-origin: bottom center;
  animation: spin 2s infinite;
  -webkit-animation-timing-function: linear;
}

.nav {
  grid-area: nav;
  background: #000000;
  color: #FFFFFF;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
.nav .left {
  position: relative;
  max-width: 20%;
}
.nav .left .logo {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 76px;
}
@media all and (max-width: 450px) {
  .nav .left .logo {
    width: 30px;
    height: 30px;
  }
}
.nav .nav__toggle {
  background: none;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 60px;
  display: none;
}
@media all and (max-width: 450px) {
  .nav .nav__toggle {
    display: block;
  }
  .nav :hover {
    color: #FFA500;
  }
}
.nav .menu {
  display: flex;
  margin-right: 30px;
  list-style: none;
  font-size: 16px;
  font-family: "Ubuntu Bold", sans-serif;
}
.nav .menu a {
  text-decoration: none;
  margin: 0 5px;
  color: #FFFFFF;
  line-height: 76px;
}
@media all and (max-width: 450px) {
  .nav .menu {
    display: none;
  }
}

.hero {
  grid-area: hero;
  background: #FFFFFF;
  margin: 5px;
  border: #2E1503 1px solid;
}

@media all and (max-width: 450px) {
  .hero {
    position: relative;
    top: -25px;
    height: 730px;
  }
}
.caja__contenedor-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-arriba p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-arriba h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.image1 {
  position: relative;
  max-width: 490px;
  min-height: auto;
  max-height: 200px;
  top: -10px;
  margin: auto auto;
}

.texto1 {
  position: relative;
  text-align: center;
  left: 2px;
  top: -20px;
}

.favicons {
  position: relative;
  top: 10px;
  left: 10px;
}

.caja__contenedor-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  margin: 10px;
  padding: 2px;
  border: gray 1px solid;
}
.caja__contenedor-abajo p {
  font-size: 12px;
  font-family: "Ubuntu Regular", sans-serif;
}
.caja__contenedor-abajo h4 {
  font-size: 20px;
  font-family: "Ubuntu Bold", sans-serif;
}

.image2 {
  position: relative;
  max-width: 490px;
  min-height: auto;
  max-height: 210px;
  top: -5px;
  margin: auto auto;
}

.texto2 {
  position: relative;
  text-align: center;
  left: 2px;
  top: -15px;
}

/*# sourceMappingURL=main.css.map */
