*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 98vw;
    height: 1150px;
    display: grid;
    grid: 7% 20% 64% 10% / repeat(2,1fr);
    grid-template-areas: 
    "nav nav"
    "header header"
    "hero side"
    "footer footer";
}
@media all and (max-width: 450px) {
    body {
        width: 98vw;
        height: 1600px;
        display: grid;
        grid: 5% 5% 35% 45% 10% / repeat (1,12fr);
        grid-template-areas: 
        "nav"
        "header"
        "hero"
        "side"
        "footer";
    }
}