@-webkit-keyframes mover {
    0% {
        transform: translate(0px, 0px);                
    }
    100% {
        transform: translate(50px, 0px);
    }
}
@keyframes mover {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(50px, 0px);
    }
}
.animacion--mover {
    -webkit-animation: mover 3s ease-in-out infinite alternate;
    animation: mover 3s ease-in-out infinite alternate;
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
        transform-box: fill-box;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
        transform-box: fill-box;
    }
}  
@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
        transform-box: fill-box;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
        transform-box: fill-box;
    }
}
.rodamiento {
    -webkit-animation: spin 2.5s infinite;
    transform-origin: bottom center;
    animation: spin 2s infinite;
    -webkit-animation-timing-function: linear;
}
